.pagination-area{
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: flex-end;
  margin: 10px 0px;

  .pagination-container{
    width: 240px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;

    span{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      color: #b1b1b1;
      
      i{
        color: #b1b1b1;
      }
    }
    .pagination-buttons{
      padding: 0px 14px;
      border: 1px solid #b1b1b1;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}