.filter-area{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 20px;

  .filter-title{
    width: 100%;
  }
  .accordion{
    width: 100%;

    .accordion-item{
      background-color: transparent;
      border-bottom: 1px solid #3f4650;

      .accordion-header{
        
        .accordion-button{
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: #B1B1B1;
          background-color: transparent!important;
        }
        .accordion-button.collapsed::after{
          background-color: #0469ff;
          mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
          background-image: none;
        }
        .accordion-button:focus{
          box-shadow: none;
        }
      }

      .accordion-body{
        padding: 0px;
        .filter-item-list{
          list-style-type: none;
          list-style-type: none;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          margin: 0px;

          .filter-item{

            .form-check{

              .form-check-input{
                display: block;
                padding: 0px;
                border: 0px;
                width: 16px;
                height: 16px;
                background-color: transparent;
                border: 1px solid #888a88;
              }
              .form-check-input:checked{
                background-color: #0469ff;
                border-color: #0d6efd;
              }
              .form-check-label{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #C1C0BC;
              }
            }
          }
        }
        .range-slider__wrap{
          margin: 0px 0px 30px;

          .range-slider{
            color: #3f4650;
          }
        }
      }
    }
  }
}